body {
    background-color: #eeeeee;
    font-family: "Poppins", "sans-serif";
}

.text_field{
    border-radius: 10px;
}

.selection{
    border-radius: 20px;
}

.btn {
    font-family: "Poppins", "sans-serif";
    background-color: #42526e;
    color: white;
    border-radius: 10px;
}
